[Unit]
Description=Monitor Away Service for JCP+ PULP
Documentation=
After=jcp-plus-pulp-server.service

[Service]
Type=simple
ExecStart=/usr/bin/env jcp-plus-pulp-monitor-away
Environment="DISPLAY=:0"
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target
