[Unit]
Description=Sync Service for JCP+ PULP
Documentation=
After=jcp-plus-pulp-server.service

[Service]
Type=simple
ExecStart=/usr/bin/env jcp-plus-pulp-sync
Environment="DISPLAY=:0"
Restart=always
KillSignal=SIGINT

[Install]
WantedBy=default.target
