Package: jcp-plus-pulp
Architecture: amd64
Maintainer: Maruthi Gowda <ygowda@jcp.com>
Depends:
Priority: optional
Version: SCRIPT_VERSION_HERE
Description: Open source time tracker
https://github.com/jcp-blr/jcp-plus-pulp
